* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #7d3cff;
}

header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #5ac8fa;
    color: white;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Garante que o header fique acima do conteúdo principal */
}

header h1 {
    font-size: 24px;
    margin: 0 10px 0 0;
}

header img {
    height: 65px;
    width: 65px;
}

.logo-container {
    display: flex;
    align-items: center;
}

header button {
    background-color: #3164f4;
    color: white;
    border: none;
    padding: 10px 30px;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

header button:hover {
    background-color: #fc0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 140px); /* Ajusta conforme necessário para o espaçamento com o header e o footer */
    margin-top: 60px; /* Espaço para o header fixo */
}

.form-container {
    background-color: #ffc107;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

form input {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    text-align: center;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #7d3cff;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
}

form button:hover {
    background-color: #6a30e2;
}

footer {
    background-color: #5bc0eb;
    height: 50px;
    text-align: center;
    padding: 15px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
