body {
    background-image: url('./../IMG/design.png');
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header {
    background-color: #5bc0eb;
    height: 50px;
    width: 100%;
}

main {
    height: 430px;
    display: flex;
    justify-content: center;
}

.painelAzul {
    width: 85%;
    height: 100%;
    background-color: #5bc0eb;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid #ffc107;
}

footer {
    background-color: #5bc0eb;
    height: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
}

#racao {
    display: block;
    margin: 0 auto;
    width: 45px;
    height: 45px;
}

.video {
    width: 1150px;
    height: 425px;
}